.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh
}
.heading {
    width: auto;
    height: 100;
    margin: 3%;
   
}

.footer {
    
}