.container {
    width: 99%;
    margin: auto;
    padding: 5vh;
    text-align: center;
  }

.feed {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-content: flex-start;
  height: 100vh;
  margin: 10px;
}

.header {
  background-color: rgb(192, 215, 252);
  padding: 8px;
  margin-bottom: 20px;
  color: rgb(39, 39, 39)
}

