.container {
    width: 90%;
    margin: auto;
    padding: 10px;
    text-align: center;
  }

.feed {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-content: flex-start;
  height: 100vh;
  margin: 10px;
}

