.container {
    padding: 20px;
    margin: auto;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    margin: auto;
}

.form * {
    margin: 5px
}